<div class="row">
  <div class="col-md-12 font-16">
    Change Password
  </div>
</div>
<div class="bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="p-1 content-text font-12">

        <div *ngIf="!model.isDataLoaded" class="loading-dots">
          <br />
          <br />
          <div class="loading-dots--dot"></div>
          <div class="loading-dots--dot"></div>
          <div class="loading-dots--dot"></div>
        </div>

        <form #pwdForm="ngForm" method="post" autocomplete="off">
          <div class="form-group">
            <label for="oldPassword">Current Password</label>
            <input id="oldPassword" name="oldPassword" [(ngModel)]="model.oldPasswrd" type="password"
              class="form-control" required>
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input id="newPassword" name="newPassword" [(ngModel)]="model.newPasswrd" type="password"
              class="form-control" required>
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="model.confirmNewPasswrd"
              type="password" class="form-control" required>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="p-1">
        <input type="button" class="btn btn-sm btn-outline-primary float-md-right"
          [disabled]="!pwdForm.form.valid || pwdForm.form.pristine" value="SAVE" 
          (click)="triggerTelemetryEvents(bmodel.TELE_EVENTS.INTERACT, bmodel.TELEID.MAN_PAS.CHANGE_PASS);changePassword()" />

      </div>
    </div>
  </div>
</div>