/** =============================================================================================================== *
 * Copyright 2018 Infosys Ltd.                                                                                    *
 * Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at    *
 * http://www.apache.org/licenses/ 
 * ================================================================================================================ *
 */
// div {
//     border:1px solid yellow;
// }

// #main-content {
//   border: 1px solid red;
// }

.wrapper {
    display: flex;
    align-items: stretch;
    //border:1px solid blue;
}

// #topbar {
//     // min-width: 1000px;
//     // max-width: 1000px;
//     // background: #7386D5;
//     color: #fff;
//     transition: all 0.3s;
//     border:1px solid green;
// }

#content {
    min-height: 100vh;
    transition: all 0.3s;
    //border:1px solid purple;
}



.footer-fixed {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

