#[dev-packages]
autopep8==1.5.1

#[packages]
schedule==1.0.0
urllib3==1.26.8
# Internal libraries in alphabetical order 
./lib/infy_docwb_sdk-0.0.7-py3-none-any.whl
./lib/infy_telemetry_sdk-0.0.5-py3-none-any.whl

