<div class="row">
  <div class="col-md-11 font-16">
    JSON Data
  </div>
  <div class="col-md-1 font-12 text-right pt-1">
    <span *ngIf="model.closeButton" class="nia-wrong-button" (click)="closeWindow()"></span>
  </div>
</div>
<div class="bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="p-1 content-text font-12" [style.height.vh]="model.minheight">
        <section class="">
          <div class="container">
            <!-- {{jsonTabularDataValue}} -->
            <br>
            <ng-container *ngIf="model.isTableView">
              <div class="row">
                <div class="col-md-6">
                  <b>Current Value</b>
                  <hr>
                  <ngx-json-viewer [json]=model.previousJsonValue></ngx-json-viewer>
                </div>
                <div class="col-md-6">
                  <b>New Value</b>
                  <hr>
                  <ngx-json-viewer [json]=model.currentJsonValue></ngx-json-viewer>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!model.isTableView">
              <div class="row">
                <div class="col-md-6">
                  <b>Current Value</b>
                  <hr>
                  
                  <ngx-json-viewer [json]=model.currentJsonValue ></ngx-json-viewer>
                </div>
                <div class="col-md-6">
                  <b>Previous Value</b>
                  <hr>
                  <ngx-json-viewer [json]=model.previousJsonValue ></ngx-json-viewer>
                </div>
              </div>
            </ng-container>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>