<html>Dear <<From>>, 

Thank you for contacting Optus Business Service Desk.

I would like to inform you that the invoice copy can be downloaded from the link provided below: 
<a href="<<Get Invoice Bill Copy:Output:InvoiceCopy>>" ><<Get Invoice Bill Copy:Output:InvoiceCopy>></a>

Before, I can forward your request to billing team, can you please elaborate your billing enquiry?

If you need to contact us further regarding this ticket, please call 1300 122 204 and include the Reference Number: <b><<Get Invoice Bill Copy:Output:TrackingNumber>></b>

Regards,
Customer Support Team</html>