/** =============================================================================================================== *
 * Copyright 2018 Infosys Ltd.                                                                                    *
 * Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at    *
 * http://www.apache.org/licenses/ 
 * ================================================================================================================ *
 */
thead {
    background-color: #E8E6DC !important;
}

div {
    padding: 0;
    margin: 0;
}

// div {
//     border:1px solid red;
// }

.content-text {
    min-height: 160px;
    max-height: 160px;
    //height: 180px !important;
    overflow: auto;
}

.screen-style {
    padding-left: 105px;
    padding-right: 20px;
    width: 160%;
}

.attr-value-dirty::after {
    content: "*";
    position: absolute;
    vertical-align: super;
    margin-top: -5px;
    font-weight: bold;
    margin-left: 2px;
  }

  .attr-value-dirty {
    position: relative;
  }