<html> Sehr geehrter Herr <<From>>,

Vielen Dank für Ihre Kontaktaufnahme mit dem XYZ Service Desk.
 
Ich möchte Sie darüber informieren, dass Ihre Bestellung <b><<Order Numbers>></b> verschickt wurde. Diese Pakete werden bis zum <b><<Get Order Status:Output:DeliveryDate>></b> ausgeliefert.
 
Wenn Sie uns bezüglich dieses Tickets weiter kontaktieren möchten, rufen Sie bitte 1300 122 204 an und geben Sie die Referenznummer an: <b><<Get Order Status:Output:TrackingNumber>></b>.
 
Mit freundlichen Grüßen
Kundensupport-Team.
</html>
