/** =============================================================================================================== *
 * Copyright 2018 Infosys Ltd.                                                                                    *
 * Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at    *
 * http://www.apache.org/licenses/ 
 * ================================================================================================================ *
 */
div {
  padding: 0;
  margin: 0;
}

// div {
//     border:1px solid red;
// }

.textbox {
  width: 100%;
}

input {
  height: 4vh;
}
select {
  width: 346px;
  height: 4vh;
  padding-top: 1.1px;
}
