/** =============================================================================================================== *
 * Copyright 2018 Infosys Ltd.                                                                                    *
 * Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at    *
 * http://www.apache.org/licenses/ 
 * ================================================================================================================ *
 */
.main-div{
    height: 23px;
    display: flex; 
    text-align: right;
    position: fixed;
    right: 12px;
    top: 44px;
}

.icon-font{
    font-size: 20px !important;
}