<div class="row">
    <!-- 1st Row -->
    <div class="col-md-12 no-padding" id="topbar">
        <!--<app-navbar-top></app-navbar-top>-->
        <nav class="navbar navbar-inverse text-white header pl-0">
            <div class="col-md-10 p-0">
                <button id="headerToggle" class="btn" [ngClass]="model.sideBarToggleIcon" (click)="toggleSidebar()"></button>
                <div style="display:inline-block;">{{model.headerTitle}} </div>
            </div>
            <div class="col-md-2 text-right p-0">
                <div class="row">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-2 pl-0 pr-0 pt-1">
                        <img src="assets/img/notification.png" />
                    </div>
                    <div class="col-md-2 pl-0 pr-1 pt-1">
                        <img src="assets/img/notification_1.png" />
                    </div>
                    <div class="col-md-2 pl-1 pr-1 pt-0">
                        <div ngbDropdown placement="bottom-right" class="d-inline-block">
                            <div class="pl-0 pr-10 pt-1 pb-1">
                                <div class="icon-dropdown-menu" ngbDropdownToggle>
                                    <div>
                                        <ngx-avatar *ngIf="model.userData!=null" class="my-avatar"
                                            name="{{model.userData.userFullName}}" size="25" textSizeRatio="2"
                                            bgColor="#666699">
                                        </ngx-avatar>
                                    </div>
                                </div>
                            </div>
                            <div ngbDropdownMenu style="font-size: 12px; top: 29px; left: -135px;">
                                <div *ngIf="model.userData!=null" class="dropdown-item-text">
                                    <b>{{model.userData.userFullName}}</b>
                                    <br /> {{model.userData.userEmail}}
                                    <br />Role: {{model.userData.roleTypeTxt}}
                                </div>
                                <ng-container *ngIf="model.userData.userSourceCde==1">
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#/home/my/profile">Profile</a>
                                </ng-container>
                                <ng-container *ngIf="getFeature(bmodel.FID.QUEUE_USER_EDIT).isEnabled">
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#/home/my/managequeue">Manage My Queues</a>
                                </ng-container>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item" (click)="doLogout()">Sign out</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 pr-2">

                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<app-breadcrumb></app-breadcrumb>
