/** =============================================================================================================== *
 * Copyright 2018 Infosys Ltd.                                                                                    *
 * Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at    *
 * http://www.apache.org/licenses/ 
 * ================================================================================================================ *
 */
// div {
//          border:1px solid red;
//     }
.urlhide {
	white-space: nowrap;
    overflow: hidden;
    max-width:10vw;
    display: inline-block;
    text-overflow: ellipsis;
}